
<form  data-purpose ='toolbar'  class="clearfix toolbar navbar-form navbar-left" role="search">

    <div class="pull-left btn-group">
        <button type="button" class="sort-button btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            sort<span class="caret"></span>
        </button>
        <ul data-purpose ='sort' class="dropdown-menu" role="menu">
            <li><a data-purpose="sort-category" data-sort="title"  href="#">title</a></li>
            <li><a data-purpose="sort-published" data-sort="published" href="#">published</a></li>
        </ul>
    </div>

    <button data-purpose="shuffle" type="button" class="pull-right btn btn-default">shuffle</button>

</form>
<div id="gallery"></div>

